        <footer class="footer">
          <div class="container-fluid d-flex justify-content-between">
            <nav class="pull-left">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="#"> Test Center </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> Help </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> Licenses </a>
                </li>
              </ul>
            </nav>
            <div class="copyright">
              2024, developed with
              <i class="fa fa-heart heart text-danger"></i> by
              <strong>Chakrit Salaeman & Claude</strong>
            </div>
            <div>Test Center Management</div>
          </div>
        </footer>
