      <!-- Sidebar -->
      <div class="sidebar" data-background-color="dark">
        <div class="sidebar-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark">
            <a href="/" class="logo">
              <div class="test-center-logo">
                <span class="logo-icon"><i class="fas fa-vial"></i></span>
                <span class="logo-text">Test Center</span>
              </div>
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
            <ul class="nav nav-secondary">
              <li class="nav-item">
                <a
                  data-bs-toggle="collapse"
                  href="#dashboard"
                  class="collapsed"
                  aria-expanded="false"
                >
                  <i class="fas fa-home"></i>
                  <p>Home</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="dashboard">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="/">
                        <span class="sub-item">Dashboard</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a href="/tools/mock-server">
                  <i class="fas fa-server"></i>
                  <p>Mock Server</p>
                </a>
              </li>
              <li class="nav-section">
                <span class="sidebar-mini-icon">
                  <i class="fa fa-ellipsis-h"></i>
                </span>
                <h4 class="text-section">Content</h4>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#tools">
                  <i class="fas fa-cog"></i>
                  <p>Tools</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="tools">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="/tools/aes-encryption">
                        <span class="sub-item">Encryption/Decryption</span>
                      </a>
                    </li>
                    <li>
                      <a href="/tools/json-converter">
                        <span class="sub-item">Convert String JSON</span>
                      </a>
                    </li>
                    <li>
                      <a href="/tools/base64-pdf">
                        <span class="sub-item">Base64toPDF</span>
                      </a>
                    </li>
                    <li>
                      <a href="/tools/pdf-base64">
                        <span class="sub-item">PDFtoBase64</span>
                      </a>
                    </li>
                    <li>
                      <a href="/tools/mini_postman">
                        <span class="sub-item">Mini Postman</span>
                      </a>
                    </li>
                    <li>
                      <a href="/tools/url-generator">
                        <span class="sub-item">Document List</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#eform">
                  <i class="fas fa-file-alt"></i>
                  <p>E-Form</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="eform">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="/forms/auto-login">
                        <span class="sub-item">Claim Form A Patient</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#burt">
                  <i class="fas fa-id-card"></i>
                  <p>BURT</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="burt">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="/forms/auto-login-burt">
                        <span class="sub-item">Auto Login BURT</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Sidebar -->
